---
title: Blog
---

<div class="bodyText container">

  {% for item in site.data.blog_series %}
    
      <p class="blogName"><b>{{ item.name }}</b></p>

      <ul>
        {% for post in site.posts %}
          {% if post.tag == item.tag %}

          <li>
            <div class="HStack">
              <h2 class="blogTitle"><a href="{{ post.url }}"><u>{{ post.title
                    }}</u></a></h2>

              <p class="blogDate">
                {{ post.date | date_to_string }}
              </p>
            </div>
            
            <p class="blogExcerpt">
              {{ post.excerpt }}
            </p>
          </li>
          {% endif %}

        {% endfor %}
      </ul>
  {% endfor %}

</div>