<nav>
    <!-- Name and title -->
    <div class="container">
      <h1 class="bodyText commandLineText">> Jon Strutz <span class="commandLineRectangle blink">▮</span></h1>
      <h2 class="subheading" style="margin-top: 20px">Ph.D. | Scientist & Software Engineer</h2>

      <div class="bodyText">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url==item.link %}class="current navlink" {% else %} class="navlink" {% endif %}>
          {% if page.url==item.link %}
            {{ item.name }}
          {% else %}
          <u>{{ item.name }}</u>
          {% endif %}
        </a>
        {% endfor %}

        <a href="/assets/pdfs/Resume_Jon_Strutz.pdf" class="navlink" download>
          <u>Résumé</u>
        </a>
      </div>
    </div>
</nav>