<nav>
    <!-- Name and title -->
    <div class="container">
      <h1 class="bodyText commandLineText" style="font-size: 60px; margin-top: 40px;">> Jon Strutz <span class="commandLineRectangle blink" style="font-size: 60px">▮</span></h1>
      <h2 class="bodyText" style="min-width: 600px; font-size: 30px; margin-bottom: 10px;">Ph.D. | Bioinformatics Software Engineer</h2>

      <div class="bodyText">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url==item.link %}class="current navlink" {% else %} class="navlink" {% endif %}>
          {% if page.url==item.link %}
            {{ item.name }}
          {% else %}
          <u>{{ item.name }}</u>
          {% endif %}
        </a>
        {% endfor %}
      </div>
    </div>
</nav>