.blogTitle {
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 40px
}

.blogImageSourceCaption {
    margin-top: -10px;
    text-align: center;
    font-size: 12px;
}

.blogImageCaption {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.faded {
    opacity: 0.6;
}
