.bodyLink {
    text-decoration: none;
    color:white;
}

.bodyText {
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 650px;
    text-align: left;
    margin: 0px auto 20px auto
}

.bodyText a {
    text-decoration: none;
    color:white;
}

.bodyText p {
    line-height: 30px;
}

.bodyText li {
    margin: 10px 0;
}