//* Containers *//
.HStack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    margin: auto;
    padding: 5px
}
@media (max-width: 840px) {
    .container {
        width: calc(100% - 10px);
    }
}
@media (min-width: 841px) and (max-width: 1280px) {
    .container {
        width: 70%;
    }
}
@media (min-width: 1281px) {
    .container {
        width: 60%;
    }
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Other */
.noMargin {
    margin: 0 0 0 0;
}
