.current {
    color: rgb(255, 255, 255) !important;
}

.name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 54px;
    margin-top: 5px;
}

.navlink {
    margin-right: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:#60a97b;
}
@media (max-width: 320px) {
    .navlink {
        font-size: 5.5vw
    }
}
@media (min-width: 321px) and (max-width: 640px) {
    .navlink {
        font-size: 4.5vw
    }
}
@media (min-width: 641px) and (max-width: 1024px) {
    .navlink {
        font-size: 3.5vw
    }
}
@media (min-width: 841px) and (max-width: 1024px) {
    .navlink {
        font-size: 2.5vw
    }
}
@media (min-width: 1025px) {
    .navlink {
        font-size: 3vmin
    }
}
