---
layout: default
title: Blog Series
---

<div class="bodyText">

  {% for tag in site.tags %}

  {% if page.id == tag[0] %}
    {% for item in site.data.blog_series %}
      {% if page.id == item.tag %}
        <h1>{{ item.name }}</h1>
      {% endif %}
    {% endfor %}

    <h3 class='faded' style='margin-bottom: -40px'>Blog Series</h3>
    
    <ul>
      {% for post in tag[1] %}

      <li>
        <h2 class="blogTitle"><a href="{{ post.url }}"><u>{{ post.title
              }}</u></a></h2>

        <p style='font-size: 22px'>
          {{ post.date | date_to_string }}
        </p>

        {{ post.excerpt }}
      </li>

      {% endfor %}
    </ul>
  {% endif %}

  {% endfor %}

</div>